<div class="row">
    <div class="col-md-7 col-xs-12">

        <div class="panel panel-default">
            <div class="panel-heading ">Montly Production per Inversor</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line" chart-data="data"
                        chart-labels="labels" chart-series="series" chart-options="options"
                        chart-dataset-override="datasetOverride" chart-click="onClick">
                </canvas>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">Sun Hours per Month</div>
            <div class="panel-body">
                <canvas id="doughnut" class="chart chart-doughnut"
                        chart-data="donutData" chart-labels="donutLabels">
                </canvas>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Montly Temperature</div>
            <div class="panel-body">
                <canvas id="bar" class="chart chart-bar"
                        chart-data="barData" chart-labels="barLabels" chart-series="barSeries">
                </canvas>
            </div>
        </div>





    </div>

    <div class="col-md-5 col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Inversor</th>
                        <th ng-repeat="label in labels"> {{label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="d in data">
                        <td>{{$index+1}}</td>
                        <td>{{d[0]}}</td>
                        <td>{{d[1]}}</td>
                        <td>{{d[2]}}</td>
                        <td>{{d[3]}}</td>
                        <td>{{d[4]}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

